.loader-container {
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 10%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  header {
    background-color: #db6034;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align to the left */
    height: 40;
  }
  img {
    height: 45;
    margin-left: auto;
  }
  
  .page-title {
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0;
    color: black;
    margin-left: 16px;
  }

  footer {
    background-color: #db6034;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 95%;
  }


  /* footer {
    color: #fff;
    margin-top: 110px;
  } */
  
  header > img {
    margin-right: 8px;
  }
  
  header > h1 {
    color: #fff;
  }
  

  header h1 {
    font-weight: bold;
    color: black;
    font-size: 20;
  }
  
  .mat-table {
    width: 100%;
    border-spacing: 0 8px; /* Adjust the spacing between rows */
  }
  
  th.mat-header-cell, td.mat-cell {
    padding: 12px; /* Adjust the padding for cells */
  }
  
  a.url-links {
    display: block;
    padding: 8px 0; /* Adjust the padding for links */
  }

/*  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    
    
  } */